[submodule "papercss-hugo-theme"]
	path = papercss-hugo-theme
	url = https://github.com/zwbetz-gh/papercss-hugo-theme.git
[submodule "themes/papercss"]
	path = themes/papercss
	url = https://github.com/zwbetz-gh/papercss-hugo-theme.git
